<div class="layout-px-spacing">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="widget mt-0">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="text-center">Add Blogs</h4>
          <hr>
          <form>
            <div class="form-group">
              <label class="form-control-label d-flex justify-conent-left mb-1">Enter Blog</label>
              <textarea class="form-control" [(ngModel)]="blogs" [ngModelOptions]="{standalone: true}"></textarea>
            </div>

              <div class="btn-onoff mt-4 d-flex justify-conent-left">
                <span style="padding-right: 10px;">Status</span>
                <button type="button"
                        aria-pressed="true" autocomplete="off"
                        class="btn btn-toggle" ngClass="{{statusValue == 1 ? 'active' : ''}}"
                        (click)="statusChange(statusValue)">
                    <div class="handle"></div>
                </button>
            </div>

            <hr>
            <button type="button" class="btn btn-primary btn-block" [disabled]="!blogs" (click)="saveBlog()">{{isEdit? 'Update':'Save'}}</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
