<section id="registrationPage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4">
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">Registration</h4>
            <hr>
            <form [formGroup]="registerForm">
              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="email" name="email" class="form-control" 	formControlName="email">
                <div *ngIf="f.email.touched && f.email.invalid" class="alert-error">
                  <div *ngIf="registerForm.controls['email'].errors?.required">
                      <small><b> Email is required.</b></small>
                  </div>
                  <div *ngIf="registerForm.controls['email'].errors?.pattern">
                    <small><b> Please Enter valid Email.</b></small>
                </div>
              </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" class="form-control" minlength="6"	formControlName="password">
                <div *ngIf="f.password.touched && f.password.invalid" class="alert-error">
                  <div *ngIf="registerForm.controls['password'].errors?.required">
                      <small><b> password is required.</b></small>
                  </div>
              </div>
              </div>
              <hr>
              <button type="button" class="btn btn-primary btn-block" (click)="register()" [disabled]="!registerForm.valid">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

